h4 {
    font-size: 40px;
    display: flexbox;
    text-align: center;
    padding-top: 2rem;
}
body {
    background-color: rgb(17, 17, 17);
    color: white;
}
.box {
    padding: 30rem;
    width: 50%;
    margin: 30px auto;
    color: #fff;
}