<!-- <link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Bebas+Neue"
/>

<div class="card" *ngIf="res">
  <div class="weather-state">
    <img src="/assets/bitcloude.svg" alt="404" height="140" width="140" />
  </div>
  <div class="text">
    <div><span>Temp:</span> {{ res.temp }}&deg;F</div>
    <div><span>Wind:</span> {{ res.windspeed }}<small>mph</small></div>
    <div><span>Humidity:</span> {{ res.humidity }}&#37;</div>
    <div>{{ res.townName }}</div> -->
<!-- </div> -->
<!--  added zipcodeUpdated to push the event update to the dashboard
  conponent.ts $event == zipcode -->
<!-- <app-zip-form (zipcodeUpdated)="updateZipcode($event)"></app-zip-form> -->

<!-- <div class="zipcode">
    <img src="/assets/arrow.svg" alt="404" height="20" width="20" />
  </div>
</div> -->
