<div class="index">
  <!-- <div>
    <app-header></app-header>
  </div> -->  
  <button class="button" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>apps</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="map">
      <mat-icon>map</mat-icon>
      <span>Map</span>
    </button>
    <button mat-menu-item routerLink="dashboard">
      <mat-icon>view_agenda</mat-icon>
      <span>Dashboard</span>
    </button>
    <!-- <button mat-menu-item routerLink="about">
      <mat-icon>info</mat-icon>
      <span>About Us</span>
    </button> -->
  </mat-menu>
</div>
<router-outlet></router-outlet>
