.grid {
  background: linear-gradient(#daae46, #342742da);
  display: grid;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  grid-template-rows: repeat(6, 50vh);
  grid-template-areas:
    "weatherpicture"
    "degrees"
    "windspeed"
    "humidity"
    "townname"
    "map";
}

@media screen and (min-width: 1200px) {
  .grid {
    padding: 75px;
    grid-gap: 75px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "degrees windspeed map"
      "weatherpicture humidity map"
      "townname townname map";
  }
}

app {
  &-degrees {
    grid-area: degrees;
  }

  &-windspeed {
    grid-area: windspeed;
  }

  &-weatherpicture {
    grid-area: weatherpicture;
  }

  &-humidity {
    grid-area: humidity;
  }

  &-townname {
    grid-area: townname;
  }

  &-map {
    grid-area: map;
  }
}
