<!-- added ngSubmit to call submit method in zip-from Component -->
<form class="box" (ngSubmit)="submit()">
  <mat-form-field class="input">
    <!-- Calling ngModel to update zipcode property Name=Property being changed in DOM -->
    <input
      [(ngModel)]="zipcode"
      name="zipcode"
      matInput
      placeholder="Zip Code"
      required
    />
    <mat-error *ngIf="zip.invalid">{{ getErrorMessage() }}</mat-error>
  </mat-form-field>
  <!-- <button type="submit">Submit</button> -->
</form>
